<article class="article">
  <h3 class="scribble-title">{{scribble.title}}</h3>
  <em>Posted on {{scribble.createdDate}} by {{scribble.author}}	</em>
  <h4 class="scribble-content">{{scribble.text}}</h4>
</article>