{{!-- The about page --}}

<h2>About</h2>
<p>Simple application to scribble your thoughts and preserve them with a time stamp.</p>
<p>Built with Ember-2.0, Ember-cli, Ember-data & Firebase and a lot of debugging!</p>
<p>The application is structured focusing on features rather than controllers.</p> 