{{!-- The contact page --}}

<h2>Contact</h2>

<div class="col-lg-4 col-sm-6">
  <img class="img-circle img-responsive img-center" 
  src="https://avatars.io/twitter/kapoornupur/" alt="nupurkapoor" style="width:128px;height:128px;">
   <h3>Nupur Kapoor
       <small>Software Engineer</small>
   </h3>
   <div><label >Email address: </label><span> nupur@womenwhocode.com</span></div>
   <div><label >Twitter: </label><span> <a href="http://www.twitter.com/kapoornupur">http://www.twitter.com/kapoornupur</a></span></div>
   <div><label >Github: </label><span> <a href="http://www.github.com/nupurkapoor">http://www.github.com/nupurkapoor</a></span></div>
   
   
 </div>